.page-title {
  text-align: center;
  height: 85px;
  line-height: 85px;
  padding: 0 40px;
  background-color: #fff;
  margin: 0;
}
.content {
  margin-bottom: 30px;
  .bloc-wrapper {
    padding: 20px;
    background-color: #fff;
  }
  .bloc {
    border-radius: 2px;
    padding: 20px;
    h2 {
      margin-bottom: 30px;
    }
  }
  .bloc-title {
    margin-bottom: 20px;
    h2 {
      margin-bottom: 0;
    }
  }
  .bloc-lightcolor {
    background-color: #fff;
  }
  .bloc-hightcolor {
    color: #fff;
    background-color: $red1;
  }
  .bloc-darkcolor {
    color: #fff;
    background-color: $violet3;
  }
  .bloc-darkcolor2 {
    color: #fff;
    background-color: $violet4;
  }
  .bloc-nobckcolor {
    border-radius: 0;
    padding: 0;
    background-color: inherit;
  }
  .bloc:last-child {
    margin-bottom: 0;
  }
}
.content:last-child {
  margin-bottom: 0;
}
