nav {
   background-color: $mainmenu;
   border-bottom: 1px solid #e7ebf3;
   .nav {
      margin: 0;
      padding: 0 20px;
      text-align: left;
      max-width: 1200px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      li {
         display: inline-block;
         a {
            display: block;
            color: $violet;
            font-size: 1.4em;
            height: 40px;
            line-height: 40px;
            text-align: center;
            padding: 0 20px;
         }
         a:hover {
            background-color: #EEF1F6;
         }
         a.active {
            background-color: #e7ebf3;
            color: $violet;
         }
      }
   }
}
