.main-footer {
   position: fixed;
   left: 70px;
   bottom: 0;
   width: calc(100% - 70px);
   height: 30px;
   line-height: 30px;
   font-size: 0.8em;
   background-color: $blue1;
   .madeby {
      margin-right: 20px;
      span {
         color: $violet;
      }
   }
   .status {
      margin-right: 20px;
      span {
         color: #fff;
         b {
            color: #1aec01;
         }
      }
   }
}
