body {
   font-family: sans-serif;
}

.App {
   text-align: center;
}

.wrapper {
   padding: 20px;
   text-align: left;
}

.data-bloc {
   margin: 20px 0 0 0;
   section {
      padding: 10px;
      background-color: #eee;
      border: 1px solid #ddd;
      margin-bottom: 10px;
   }
   section:last-child {
      margin-bottom: 0;
   }
}

#mymapbox {
   height: 400px;
   width: 100%;
}
